extends layout

block content
    div(style='width: 60%; margin: 0 auto;')
        - function capitalize(s) {return s.charAt(0).toUpperCase() + s.slice(1);};
        if context.user
                script.
                    window.localStorage.setItem('user', '!{context.user}');
        div.text-center
            h2 Admin Panel

        div.text-center(style='margin-top:30px')
            h3 All Users
            table(class='table-hover table-bordered' style='width:100%; line-height:2.5')
                tr
                    th ID
                    th Email
                    th Active
                    th Admin
                    th Actions
                if context && context.users
                    each val, index in context.users
                        tr
                            td #{val.id}
                            td #{capitalize(val.emailId)}
                            td #{capitalize((!!val.isActive).toString())}
                            td #{capitalize((!!val.isAdmin).toString())}
                            td None
            a(href="/signup" class="btn btn-success") Add Users

        div.text-center(style='margin-top:30px')
            h3 All Recordings

            table(class='table-hover table-bordered' style='width:100%; line-height:2.5')
                tr
                    th Creator
                    th Published
                    th Records
                    th IFrame Link
                    th Actions
                if context && context.records
                    each val, index in context.records
                        tr
                            td #{capitalize(val.creator)}
                            td #{val.publishDate}
                            td
                                a(href=`/player?base=${encodeURIComponent(val.link)}` target="player") PLAYER
                                |  | 
                                a(href=`/editor?base=${encodeURIComponent(val.link)}` target="editor") EDITOR
                            td
                                - var iframeButtonClass=['btn', 'btn-success'];
                                button(class=iframeButtonClass data=`${baseUrl}/player?base=${encodeURIComponent(val.link)}` onClick="copyAsIframe(event)") Copy
                            td 
                                form(class="form-signin" method="POST" action="/delete")
                                    input(type="hidden" name="recordId" value=`${val.id}`)
                                    - var buttonClass=['btn', 'btn-danger'];
                                    button(class=buttonClass type="submit") Delete
                else
                    tr
                        td(colspan="4") No Records Found

            a(href="/recorder" class="btn btn-success") Add Record
