extends layout

block content
    div(style='width: 60%; margin: 0 auto;')
        if context.user
                script.
                    window.localStorage.setItem('user', '!{context.user}');

        if context
            div.text-center(style='margin:30px')
                h3 My Recordings
                table(class='responstable table-hover table-bordered' style='width:100%; line-height:2.5')
                    tr
                        th Publisher
                        th Name
                        th Creation Date
                        th Actions
                    if context.records
                        - function capitalize(s) {return s.charAt(0).toUpperCase() + s.slice(1);};
                        each val, index in context.records
                            tr(id=`record-row-${val.id}`)
                                td #{val.creator}
                                td #{val.name}
                                td #{val.publishDate}
                                td
                                    div(class="btn-group" role="group")
                                        button(class="btn-custom-action" data-url=`${baseUrl}/player?base=${encodeURIComponent(val.link)}` onClick="copyAsIframe(this)" title="Copy Iframe Link")
                                            span(class="glyphicon glyphicon-copy")
                                        a(href=`/player?base=${encodeURIComponent(val.link)}` target="player")
                                            button(class="btn-custom-action" title="Player")
                                                span(class="glyphicon glyphicon-play")
                                        a(href=`/editor?base=${encodeURIComponent(val.link)}` target="editor")
                                            button(class="btn-custom-action" title="Editor")
                                                span(class="glyphicon glyphicon-edit")
                                        form(onsubmit="validateRecordDeletion(this); return false;" action="#")
                                            input(type="hidden" name="recordId" value=`${val.id}` data-record-name=`${val.name}`)

                                            button(class="btn-custom-action" type="submit" title="Delete Record")
                                                span(class="glyphicon glyphicon-trash")
                    else
                        tr
                            td(colspan="4") No Records Found

                a(href="/recorder" class="btn btn-success") Add Record
