extends layout

block content
    div(style='width: 60%; margin: 0 auto;')
        if context.user
                script.
                    window.localStorage.setItem('user', '!{context.user}');
        div.text-center
            div(class="form-signin")
                div.text-center
                    if !context.isActive
                        p 
                            | Your Account is not active, kindly
                            | contact admin to get it activated
        
        if context && context.isActive
            div.text-center(style='margin:30px')
                h3 My Recordings
                table(class='table-hover table-bordered' style='width:100%; line-height:2.5')
                    tr
                        th Publisher
                        th Name
                        th Creation Date
                        th Records
                        th IFrame Link
                        th Actions
                    if context.records
                        - function capitalize(s) {return s.charAt(0).toUpperCase() + s.slice(1);};
                        each val, index in context.records
                            tr
                                td #{capitalize(val.creator)}
                                td #{val.name}
                                td #{val.publishDate}
                                td
                                    a(href=`/player?base=${encodeURIComponent(val.link)}` target="player") PLAYER
                                    |  | 
                                    a(href=`/editor?base=${encodeURIComponent(val.link)}` target="editor") EDITOR
                                td
                                    - var iframeButtonClass=['btn', 'btn-success'];
                                    button(class=iframeButtonClass data=`${baseUrl}/player?base=${encodeURIComponent(val.link)}` onClick="copyAsIframe(event)") Copy
                                td
                                    form(class="form-signin" method="POST" action="/record/delete")
                                        input(type="hidden" name="recordId" value=`${val.id}`)
                                        - var deleteButtonClass=['btn', 'btn-danger'];
                                        button(class=deleteButtonClass type="submit") Delete
                    else
                        tr
                            td(colspan="6") No Records Found
                
                a(href="/recorder" class="btn btn-success") Add Record

        