extends layout

block content
    div(style='width: 60%; margin: 0 auto;')
        - function capitalize(s) {return s.charAt(0).toUpperCase() + s.slice(1);};
        if context.user
                script.
                    window.localStorage.setItem('user', '!{context.user}');
        if context
            div.text-center(style='margin-top:30px')
                h3 All Users
                table(class='responstable table-hover table-bordered' style='width:100%; line-height:2.5')
                    tr
                        th ID
                        th Name
                        th Email
                        th Active
                        th Admin
                        th Actions
                    if context && context.users
                        each val, index in context.users
                            tr(id=`user-row-${val.id}`)
                                td #{val.id}
                                td #{capitalize(val.username)}
                                td #{val.emailId}
                                td
                                    if val.isActive
                                        span(class="glyphicon glyphicon-ok")
                                    else
                                        span(class="glyphicon glyphicon-remove")
                                td
                                    if val.isAdmin
                                        span(class="glyphicon glyphicon-ok")
                                    else
                                        span(class="glyphicon glyphicon-remove")

                                td
                                    if !val.isAdmin

                                        div(class="btn-group" role="group")
                                            form(onsubmit="validateToggleUserActivation(this); return false" action="#")
                                                input(type="hidden" name="userId" value=`${val.id}`)
                                                button(class=(val.isActive) ? "btn-deactivate" : "btn-custom-action" title=(val.isActive) ? "Deactivate" : "Activate" type="submit")
                                                    if val.isActive
                                                        span(class="glyphicon glyphicon-remove")
                                                    else
                                                        span(class="glyphicon glyphicon-ok")
                                            form(onsubmit="validateUserDeletion(this); return false" action="#")
                                                input(type="hidden" name="userId" value=`${val.id}`, data-email=`${val.emailId}`)
                                                button(class="btn-custom-action" type="submit" title="Delete User")
                                                    span(class="glyphicon glyphicon-trash")

                a(href="/user/add" class="btn btn-success") Add Users
